<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Customer Details</h2>
    <div class="card">
        <div class="card-body">
            <p><strong>Customer ID:</strong> <span th:text="${customer.customerId}"></span></p>
            <p><strong>First Name:</strong> <span th:text="${customer.firstName}"></span></p>
            <p><strong>Last Name:</strong> <span th:text="${customer.lastName}"></span></p>
            <p><strong>Date of Birth:</strong> <span th:text="${customer.dateOfBirth}"></span></p>
            <p><strong>Email:</strong> <span th:text="${customer.email}"></span></p>
            <div class="text-center">
                <a th:href="@{/updateCustomerForm(id=${customer.customerId})}" class="btn btn-primary">Update</a>
                <a th:href="@{/deleteCustomerForm(id=${customer.customerId})}" class="btn btn-danger">Delete</a>
            </div>
        </div>
        <div class = "card-footer">
            <a th:href="@{/availabilityCheckForm}" class = "btn btn-primary">Continue</a>
        </div>
    </div>
</div>
</body>
</html>
