<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Deleting a Customer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <form th:action="@{/deleteCustomer}" method="post" th:object="${customer}" class="d-inline">
        <div class="row justify-content-center">
            <h2>Sure to Delete ?</h2>
            <div class="form-group">
                <input type="hidden" class="form-control" id="customerId" th:field="*{customerId}" readonly>
            <button type="submit" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </form>
</body>
</html>