<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Booking</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style1.css">
</head>
<body>
<div class="container">
    <h1>Checking Availability</h1>
    <form>
        <div class="form-group">
            <label for="stayStartDate">Stay Start Date:</label>
            <input type="date" id="stayStartDate" name="stayStartDate" required>
        </div>
        <div class="form-group">
            <label for="stayEndDate">Stay End Date:</label>
            <input type="date" id="stayEndDate" name="stayEndDate" required>
        </div>
        <button type="button">Check Availability</button>
    </form>
</div>
</body>
</html>
